<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            {% block header %}
                <a class="navbar-brand" href="#">Header</a>
            {% endblock %}
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <div class="container pt-3">
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        {% block footer %}Footer{% endblock %}
    </div>
</footer>

</body>
</html>
