{% extends 'base.html.twig' %}

{% block title %}The new title!{% endblock %}

{% block header %}
    The new header
{% endblock %}

{% block content %}
    <h1>Cars:</h1>

    {% if cars is empty %}
        No cars ;(
    {% else %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            {% include 'cars/car.table-fragment.html.twig' with {'index': loop.index, 'car': car} only %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}

{% block footer %}
    The new footer
{% endblock %}
